nav {
    background-color: #444;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.imgcarrosel {
    width: 100%;
    height: 425px;
    object-fit: cover;
    object-position: center;
}

.div-fundo1 {
    border-radius: 30px;
    background-color: brown;
    padding: 3px;
    margin-right: 700px;
}

.div-fundo2 {
    border-radius: 30px;
    background-color: blue;
    padding: 3px;
    margin-right: 700px;
}

.section1 {
    height: 500px;
    background-color: #f0f0f0;
    color: black;
}

.section2 {
    height: 50px;
    background-color: blue;
    color: black;

}

.section3 {
    height: 100px;
    background-color: #272525;
    color: black;
}

.form-control {
    border-radius: 1rem;
    border-color: #333;
    outline-offset: 0;
    outline-width: 0;
    outline-style: auto;
    text-shadow: none;
    box-shadow: none;
    width: 100%;
    appearance: none;
}



form {
    font-weight: 500;
}

.divform {
    justify-content: center;
    align-items: center;
    padding-right: 400px;
    padding-left: 400px;
    padding-top: 80px;
}

html {
    background-color: #f0f0f0;
}

.section {

    border-radius: 50px;

}

.form-control {
    border-color: #333;
}

#mensagem {
    height: 10rem;
}

.section-blue {
    background-color: aqua;
}

.div-fundo {

    background-color: #333;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

main {
    display: inline-block;
    vertical-align: top;
    width: 75%;
    padding-bottom: 100px;
    padding: 20px;
}

aside {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    padding: 20px;
}

li {
    padding: 5px;
}

main {
    background-color: #f0f0f0;
}

aside {
    background-color: #e0e0e0;
}

.footer {
    padding: 50;
}

thead {
    background-color: #888585;
}

/* bordas dos itens da tabela */
.borda {
    border: 1px solid #272525;

    /* Transformar a tabela quando exibido em telas de tamanhos diferentes */
    width: 100vw;
}

/* Alinhar o titulo da tabela */
.tituloServiços {
    text-align: center;
    font-size: 25px;
}

/* Css da tabela */
table {
    margin: 0 auto;
    border: 1px solid #272525;

}

.bodyServiços {
    background-color: #f0f0f0;
}

/* Css do "th" e "td" */
th,
td {
    padding-right: 230px;

}
